<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<h4>Work Studio</h4>
				<p>
					경기도 고양시 일산동구 정발산동 산두로 243-2,<br/>
					010 9300 8289, <br/>
					ILSAN, KOREA.
				</p>
			</div><!-- /col-xs-4 -->

			<div class="col-xs-4">
				<h4>Links</h4>
				<p>
					<a href="#">Kakao Talk</a><br/>
					<a href="#">Twitter</a><br/>
					<a href="#">Facebook</a>
				</p>
			</div><!-- /col-xs-4 -->

			<div class="col-xs-4">
				<h4>About JON LEATHER WORKS</h4>
				<p>제작문의 가나다라마바사아자차카타바하</p>
			</div><!-- /col-xs-4 -->

		</div>

	</div>
</div>